@font-face {
	font-family: Terminus;
	src: url("/fonts/PTSansNormal.ttf");
}

body {
	visibility: hidden;
	background-color: #fff;
	color: #333;
	margin: 1em;
	font-family: Terminus;
	font-size: 12pt;
}

*::selection {
	color: #000;
	background-color: #888;
}

ol {
	margin-top: 0; 
}

a { 
	color: #139;
	text-decoration: underline;
	outline: none;
}

a.folder {

}

a:hover {
	color: #b31;
}

a:focus {
	color: #b31;	
}

a:visited {
	color: #136;	
}

a:visited:hover {
	color: #831;
}

img.tex {
	
}

h1 {
	margin-top: 0.2em;
	margin-bottom: 0.3em;
	font-family: Terminus;
	font-size: 16pt;
	border-color: #003;
	color: #333; /* # 3c0 */
}

h4{
	font-size: 14pt;
	margin-top: 0.2em;
	margin-bottom: 0.2em;
	color: #333;
}

p.tex {
	text-align: center;
	background-color: #ccc;
	padding: 0.2em;
}

#time {
	color: #ff0;
	font-family: Terminus;
	margin: 0.2em;
}

li.menu {
	font-size: 12pt;
	margin: 1em;
	
	margin: 0.5em;
}

#menu {
	margin-bottom: 1em;
}

p.img {
	text-align: center;
	background-color: #ffc;
	padding: 1em;
}

img.img {
	max-width: 62.5%;
	-webkit-transition: all 0.3s;
}

img.img:active {
	max-width: 98%;
	-webkit-transition: all 0.3s;
}

span.light {
	color: #ccc;
}

#herald {
	position: fixed;
	left: 0;
	top: 6em;
	width: 100%;
	height: 5em;
	border-style: none;
	background-color: transparent;
	font-family: Terminus;
	font-size: 12pt;
	text-align: center;
	outline: none;
}
