@font-face {
	font-family: Terminus;
	src: url("/fonts/Terminus.ttf");
}

body {
	visibility: hidden;
	background-color: #003;
	color: #ccc;
	margin: 1em;
	font-family: Terminus;
	font-size: 24pt;
}

*::selection {
	color: #003;
	background-color: #ff3;
	opacity: 1;
}

a { 
	color: #ccc;
	text-decoration: underline;
	outline: none;
}

a.folder {

}

a:hover {
	background-color: #ff3;
	color: #005;
}

a:focus {
	background-color: #ff3;
	color: #005;	
}

img.tex {
	
}

h1 {
	margin-top: 0.2em;
	margin-bottom: 0.8em;
	font-family: Terminus;
	font-size: 32pt;
	color: #30c;
	background-color: #69f;
	padding: 0.2em;
}

h4{
	font-size: 24pt;
	margin-top: 0.2em;
	margin-bottom: 0.2em;
	color: #fff;
}

p.tex {
	text-align: center;
	background-color: #ccc;
	padding: 0.2em;
}

time {
	color: #ff0;
	font-family: Terminus;
	margin: 0.2em;
}

li.menu {
	font-size: 24pt;
	margin: 1em;
	list-style-type: none;
	margin: 0.5em;
}

#menu {
	margin-bottom: 1em;
}

p.img {
	text-align: center;
	background-color: #ffc;
	padding: 1em;
}

img.img {
	max-width: 62.5%;
	-webkit-transition: all 0.3s;
}

img.img:active {
	max-width: 98%;
	-webkit-transition: all 0.3s;
}

span.light {
	color: #ccc;
}